[quickrun output]
"\342\200\223"
.vim/plugged
.vim/sessions
.config
!.config/picom
!.config/polybar
!.config/pyradio
!.config/qutebrowser
!.config/ranger
!.config/termite
!.config/zathura
*.swp
.NERDTreeBookmarks
.PlayOnLinux
.PyCharmCE2019.2
.RData
.Rhistory
.Xauthority
.Xclients
.arduino15
.bash_history
.bash_logout
.bash_profile
.cache
.cargo
.dir_colors
.docker
.electron-gyp
.emerald
.face
.face.icon
.fonts
.gitconfig
.gitkraken
.gnome
.gnupg
.gtkrc-2.0
.histfile
.hplip
.icon
.icons
.inputrc
.inxi_info
.ipynb_checkpoints
.ipython
.java
.jitsi
.jssc
.jupyter
.kde4
.kdesrc-buildrc
.latexmkrc
.lesshst
.local
.mozilla
.mplayer
.mysql_history
.node_repl_history
.npm
.nuget
.nvimrc
.oh-my-zsh
.oracle_jre_usage
.pki
.profile
.pylint.d
.python_history
.python_history-58790.tmp
.rstudio-desktop
.running_kernel
.save_Xauthority
.sky2
.ssh
.start_task.sh.swp
.steam
.steampath
.steampid
.subversion
.svv
.svw
.svx
.svy
.svz
.swa
.swb
.swc
.swd
.swe
.swf
.swg
.swh
.swi
.swj
.swk
.swl
.swm
.swn
.swo
.swp
.task
.taskrc
.texlive
.themes
.thunderbird
.var
.vimautoload
.vimplugged
.vimsessions
.vim_save
.viminfo
.viminfo.tmp
.viminfr.tmp
.viminfs.tmp
.viminft.tmp
.viminfu.tmp
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.vimrc.swp
.vimrc_save
.vimspector.json
.vimspector.log
.vscode-oss
.vscode/
.w3m
.wget-hsts
.wine
.xbindkeysrc
.xinitrc
.yarn
.yarnrc
.zcompdump
.zcompdump-pierre-pc-5.7.1
.zcompdump-pierre-pc-5.8
.zcompdump.zwc
.zlogin
.zlogout
.zoom
.zprezto
.zpreztorc
.zprofile
.zsh_favlist
.zsh_history
.zsh_history_bad
.zshenv
.zshrc.pre-oh-my-zsh
<CR>:vert ter python3
<bar> :exec '!python' shellescape(@test.py, 1)
Arduino
Blade_runner.vim
Desktop
Documents
Downloads
Music
Pictures
PlayOnLinux's virtual drives
PycharmProjects
R
Screenshot3.png
Session.vim
Templates
Videos
[quickrun output]
__pycache__
acme.json
bookmarks
coc-settings_save.json
dead.letter
debug
dm
foreignpkglist.txt
generator
global_extra_conf.py
gtkfilechooser.ini
hist
images
jup-command
kde
keyboard_config
kwin-tiling
kwin.gdb
listenv
ls
main.py
manifest.json
mozilla.pdf
node_modules
nvim
opt
package-lock.json
pkglist.txt
qmk_firmware
rapport
save
save_config_termite
screenshot1.png
screenshot2.png
screenshot4.png
screenshot5.png
screenshot5png.png
screenshot6.png
script
sdkljfs
selected
settings.ini
snap
snapd/
spt
sys,os
tagbardebug.log
tagbardebug.log.ctags_out
tags
test
test.png
test.py
test_log
tiling-help.text
traefik.toml
usr
versiom
version
vimrc_save
vimwiki
wallpaper
*.lock
