* {
  border-color: #6c5a23 !important;
}
a {
  color: #ce4139 !important;
}
a:visited {
  color: #b68800 !important;
}
body {
  background-color: #22191f !important;
  color: #ffa811 !important;
}
html {
  background-color: #22191f !important;
}
input,
textarea {
  background-color: #22191f !important;
  color: #ffa811 !important;
}
blockquote,
pre {
  background-color: #22191f !important;
  color: #ffa811 !important;
}
.sfbgg {
  background-color: #22191f !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #22191f, #22191f) !important;
}
#lst-ib,
.sbsb_a {
  background-color: #22191f !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #22191f,#22191f ) !important;
}
#hdtbSum {
  background-color: #22191f !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #22191f !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #22191f, #22191f) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #22191f, #22191f) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #22191f, #22191f) !important;
}
#appbar {
  background-color: #22191f !important;
}
cite {
  color: #598249 !important;
}
.ab_dropdown {
  background-color: #22191f !important;
}
.crp {
  background-color: #22191f !important;
}
#fbar {
  background-color: #22191f !important;
}
.rlc__slider, .rlc__slider-page, .rl_feature {
  background-color: #22191f !important;
}
.ab_button {
  background-color: #22191f !important;
}
.sfbg {
  background-color: #22191f !important;
}
.Yv4wBf, .ZL6cRd {
  background-color: #22191f !important;
}
.iblpc, .tfB0Bf, .dRYYxd, .sbib_a, .sbsb_a, .RNNXgb, .aajZCb {
  background-color: #22191f !important;
}
.FPdoLc, .gNO89b {
  background-color: #22191f !important;
  }
.mblink:visited, a:visited {
    color: #de8218 !important;
}
.LC20lb {
    color: #E0CCAE !important;
}
.fl {
    color: #fa9730 !important;
}
.kno-ecr-pt {
  color: #ffa811 !important;
  }
.hb8SAc {
  color: #ffd653 !important;
  background-color: #22191f !important;
}
.s {
  color: #fa9730 !important;
}
.TXwUJf, .iUh30, .tjvcx {
  color: #fa621b !important;
}
.CMLaue, .fVRq4d, .mIKy0c {
  color: #fa621b !important;
}
div {
  color: #fa621b !important;
}

